body {
	font-size: 80%;
	margin: 0px;
}

a,
li,
p,
b,
h1,
h4 {
	text-decoration: none;
	color: gray;
	list-style: none;
}

h1 {
	font-size: 3rem;
}

h4 {
	font-weight: 400;
	font-size: 16px;
}
button {
	outline: none;
	border: none;
	font: var(--Jakarta);
	color: white;
	background-color: gray;
	padding: 8px 16px;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
